BASE, HEADER, ZAG, TEXT, LOWERTEXT {
    white-space: pre-line;
}
BASE{
    padding-left: 2ch;
}
MARKER{
    white-space: nowrap;
}
HEADER {
    font-family:'Times New Roman';
    font-weight: bold;
    font-size: 12pt;
}
ZAG {
    font-family:'Arial';
    font-weight: bold;
    font-size: 12pt;
}
TEXT {
    font-family:'Arial';
    font-size: 12pt;
    padding-left:2%;   
}
LOWERTEXT {
    font-family:'Times New Roman';
    font-size: 12pt;
}